image: "sbtscala/scala-sbt:eclipse-temurin-25_36_1.11.7_3.3.7"

variables:
  SBT_VERSION: "1.10.10"

stages:
  - build
  - test

build:
  stage: build
  script:
    - sbt clean test:compile

test:
  stage: test
  script:
    - sbt "testOnly dbms.v1.ScoredBulkLoadingSuite dbms.v1.ScoredStatsTableRegressionSuite dbms.v1.ScoredFilterScanSuite dbms.v1.ScoredProjectionSuite dbms.v1.ScoredQuerySuite dbms.v1.ScoredEmptyTableSuite dbms.v1.ScoredStatsTableSuite"
  dependencies:
    - build
  artifacts:
    when: always
    reports:
      junit: target/test-reports/TEST-*.xml
  allow_failure: true
